*::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
	font-size: 18px;
	font-weight: 300;
}
*:-moz-placeholder {
	color: #fff;
	opacity: 1;
	font-size: 18px;
	font-weight: 300;
}
*::-moz-placeholder {
	color: #fff;
	opacity: 1;
	font-size: 18px;
	font-weight: 300;
}
*:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
	font-size: 18px;
	font-weight: 300;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Geometria5", sans-serif;
	font-size: 16px;
	font-weight: 300;
}
header {
	background-color: #e2e1dc;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e2e1dc 100%);
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #e2e1dc 100%);
	background: -o-linear-gradient(top, #f2f2f2 0%, #e2e1dc 100%);
	background: -ms-linear-gradient(top, #f2f2f2 0%, #e2e1dc 100%);
	background: linear-gradient(to bottom, #f2f2f2 0%, #e2e1dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e2e1dc',GradientType=0 );
	text-align: center;
	padding: 54px 0 41px;
}
header .logo {
	width: 115px;
	height: 76px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto 30px;
}
header .devices-img {
	width: 100%;
}
header .devices-img img {
	width: 100%;
	height: auto;
}
header .text {
	color: #343434;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: "Geometria5";
	font-weight: 300;
	margin: 30px 0 40px;
}
.btn-scroll {
	outline: none;
	display: inline-block;
	background-color: #2053B8;
	border: 1px solid #2053B8;
	padding: 15px;
	color: #fff;
	line-height: 1;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}
.btn-scroll:hover {
	background-color: #2A009E;
	border-color: #2A009E;
}
.btn-scroll:active {
	background-color: transparent;
	border-color: #2A009E;
}
.better {
	background-color: #eee;
	padding: 44px 0 40px 0;
}
.better_title {
	text-align: center;
	color: #2053B8;
	line-height: 28px;
	font-size: 24px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 30px;
}
.better_item_container {
	margin-bottom: 15px;
}
.better_item_container:last-child {
	margin-bottom: 0;
}
.better_item {
	text-align: center;
}
.better_item_title {
	color: #2053B8;
	line-height: 25px;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 8px;
}
.better_item_text {
	color: #000000;
	line-height: 19px;
	font-size: 16px;
	font-weight: 300;
}
.text1 {
	background-color: #3926ab;
	text-align: center;
	padding: 45px 0;
}
.text1_title {
	color: #fff;
	line-height: 28px;
	font-size: 20px;
	font-weight: 500;
}
.bullets {}
.bullets__item {
	width: 100%;
	height: 260px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-position: 0 0;
}
.bullets__item.b1 {
	background-image: url(../img/scr1.jpg);
}
.bullets__item.b2 {
	background-image: url(../img/scr2.jpg);
}
.bullets__item.b3 {
	background-image: url(../img/scr3.jpg);
}
.bullets__item:hover .bullets__item__overlay {
	background-color: rgba(0,0,0,0.7);
}
.bullets__item__overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	padding-top: 35px;
}
.bullets__item__overlay__title {
	display: block;
	color: #fff;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-weight: 500;
	padding: 0 15px 10px;
}
.bullets__item__overlay__title.lnk {
	width: 255px;
	border: 1px solid #fff;
	padding: 12px;
	margin: 0 auto 25px;
	background-color: transparent;
}
.bullets__item__overlay__title.lnk:hover {
	background-color: #2A009E;
	border-color: #2A009E;
}
.bullets__item__overlay__title.lnk:active {
	background-color: transparent;
	border-color: #2A009E;
}
.bullets__item__overlay__title > br {
	display: none;
}
.bullets__item__overlay__text {
	display: block;
	color: #fff;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	font-weight: 300;
	padding: 0 30px;
}
.text2 {
	background-color: #2a009e;
	text-align: center;
	padding: 45px 0;
}
.text2_title {
	color: #fff;
	line-height: 28px;
	font-size: 20px;
	font-weight: 500;
}
.formats {
	background-color: #eee;
	padding: 52px 0 30px;
	color: #2A009E;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
}
.formats__block {
	width: 100%;
	margin-bottom: 20px;
}
.formats__block__title {
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
	margin-bottom: 20px;
}
.formats__block__text {
	margin: 0;
	padding: 0;
}
.formats__block__text > li {
	list-style: none;
	margin-bottom: 10px;
}
.formats__block__text > li:before {
	content: "–";
	margin-right: 5px;
}
.formats__separator {
	display: none;
}
.formats__more {
	width: 100%;
	text-align: center;
	margin-top: 15px;
}
.feedback {
	background-color: #2053b8;
	padding: 30px 0 40px 0;
}
.feedback_title {
	color: #fff;
	line-height: 30px;
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 50px;
	text-align: center;
}
.feedback_title > br {
	display: none;
}
.feedback__blocks {
	color: #fff;
	font-weight: 400;
}
.feedback__block {
	width: 100%;
}
.feedback__separator {
	display: none;
}
.feedback__block__title {
	line-height: 22px;
	font-size: 18px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 20px;
	text-align: center;
}
.feedback_phone {
	display: block;
	line-height: 1;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	text-align: center;
}
.feedback_phone__icon {
	display: inline-block;
	width: 34px;
	height: 34px;
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
}
.feedback_phone__value {
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
}
.feedback_mailto {
	display: block;
	line-height: 1;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}
.feedback_mailto__icon {
	display: inline-block;
	width: 34px;
	height: 34px;
	background-image: url(../img/icon-mail.svg);
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
}
.feedback_mailto__value {
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
}
#feedback {
	text-align: center;
	margin-top: 50px;
}
#feedback input {
	display: block;
	margin: 0 auto 22px;
	width: 200px;
	padding: 6px 19px 7px;
	border: 1px solid #fff;
	outline: none;
	background-color: #2A009E;
	line-height: 22px;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
}

#feedback button.feedback_btn-send {
	display: inline-block;
	margin-top: 7px;
	width: 169px;
	padding: 6px 19px 7px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-weight: 400;
	outline: none;
	float: none;
	clear: both;
}
#feedback button.feedback_btn-send:hover {
	border-color: transparent;
	background-color: #2A009E;
}
#feedback button.feedback_btn-send:active {
	border: 1px solid #2A009E;
	background-color: transparent;
}
.partners {
	text-align: center;
	padding: 38px 0;
}
.partners a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	margin-bottom: 30px;
}
.partners a:last-child {
	margin-bottom: 0;
}
.partners__mipt {
	width: 235px;
	height: 71px;
	background-image: url(../img/mipt.png);
}
.partners__rosnano {
	width: 147px;
	height: 110px;
	background-image: url(../img/rosnano.png);
}
.partners__skoltech {
	width: 219px;
	height: 104px;
	background-image: url(../img/skolkovo.jpg);
}
footer {
	background-color: #eee;
	color: #2A009E;
	font-size: 14px;
	font-weight: 400;
	padding: 30px 0;
	text-align: center;
}
